* {
  font-family: "Open Sans", serif;
}

.container {
  display: flex;
  justify-content: center;
}

.orange {
  color: #E1624F;
  font-weight: bold;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-top: -6px;
}

h2 {
  font-size: 32px;
  margin: 0;
  margin-top: -10px;
}

img {
  border-radius: 28px;
}

#legend {
  font-style: italic;
  padding: 8px 0px 10px 15px;
}

span {
  padding-left: 14rem;
}

p {
  margin-top: 6px;
  color: #333333;
}

h2+p {
  margin: 0;
  padding: 2px 0px 64px 0px;
}

h2 {
  padding-bottom: 8px;
}

h3 {
  margin: 0;
  padding: 20px 0px 0px 8px;
  font-size: 28px;
  font-weight: bold;
}

#divisor {
  padding-bottom: 44px;
}

.bold {
  padding-top: 8px;
  margin-bottom: -15px;
  font-weight: bold;
}

.blue-item {
  color: #0C51A7;
  font-weight: bold;
  margin-left: -20px;
  padding-bottom: 30px;
}

li::marker {
  color: #333333;
}

.color-itens {
  font-weight: bold;

  & li:nth-child(1) {
    color: #591B98;
  }

  & li:nth-child(2) {
    color: #E5245E;
  }

  & li:nth-child(3) {
    color: #E95E10;
  }

  margin-left: -18px;
  padding-bottom: 10px;
}

.end-text {
  padding-top: 30px;
}

.span-2 {
  margin-left: 14.42rem;
}

footer {
  text-align: center;
  margin: 4rem 20px 0px 0px;
  font-family: "Alice", serif;
  color: #333333;
}

.icon {
  vertical-align: middle;
}